gh.dashboard{
	background-color:tomato;
	display: grid;
	height:100vh;
	grid-template-columns:15vw 85vw;
	grid-template-rows:10vh 90vh;
}

header{
	background-color: lightblue;
	grid-column:1/3;
	display:flex;	
}

header > div{
	flex-grow:1;
}

header > button{
	border:none;
	margin:0.2rem;	
}

header > button:nth-of-type(1){
	background-image:("../img/home.svg");
	background-size: cover;
	
}

nav{
	background-color: lightyellow;
}
main{
	background-color:lightgreen;
}
.tabla > div:nth-of-type(odd){
	background-color:lightgrey;